 
 @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


 body{
  background-color: #7DA870;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cuadro{
 background-color: rgb(255, 255, 255);
  margin-top: -35.5rem;
  margin-left: 15rem;
  height: 100%;
  width: 100;
  border-radius: 25px;
  overflow: auto;
}
.navbar{
  display: flex;
  justify-content: space-between;
  padding: 2rem;
 
}





.input {
  padding: 8px; 
  margin-right: 8px; ;
  font-size: 15px;
  border: none;
  border-radius:  10px;
  background-color: rgba(236, 236, 236, 0.712);
  width: 20rem;
  height: 20px;
}


.noting{
  display: flex;
  gap: 1em;
}
.icon-tabler {
  margin-right: 4px; ;
}

.carta{
  color: rgb(31, 155, 20);
  font-size: 25px;
  background-color: rgba(31, 155, 20, 0.363) ;
  padding: 5px;
  height: 1.5em;
  border-radius: 10px;
}
.noting .person{
  display: flex;
  justify-content: center;
}
.person img{
  padding: -10px;
  margin: 5px;
  width: 80px;
  height: 60px;
  border-radius: 8px;
  padding-bottom: 0px;
}

.person p{
  text-align: center;
  font-size: 20px;
  margin-left: 4rem;
}
.campana{
  color: rgb(241, 126, 32);
  font-size: 25px;
  background-color: rgba(241, 126, 32, 0.377) ;
  padding: 5px;
  height: 1em;
  border-radius: 10px;
}

/* sidebar  */

.sidebar{
  display: flex;
  margin: 2em;
  justify-content: space-around ;
  flex-direction: column;
  width: 10rem;
  padding-top: 3rem;
}

.book2{
  padding-left: 50px; 
 
}
.book{
  border-radius: 10px;
  border: none;
  background-color: #94c585;  
  width: 4.5rem;
   box-shadow: 4px 5px 2px #759c69,
              -2px 2px #759c69
}

.links{
  padding-top: 5rem;
  text-align: center;
  color: white;
}


.crea{
  padding-top: 9rem;
  padding-left: 30px;

  
}
.crear{
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #94c585; 
  color: white;
  width: 6em;
  font-size: 16px;
  box-shadow: 4px 5px 2px #759c69,
              -2px 2px #759c69
}
  


.col-span-5 {
  grid-column: span 5;
}

/* Estilos para el contenido de la primera sección */
h1 {
  font-size: 28px;
  color: #333;
}

.texto {
  margin-top: 10px;
}

h3 {
  font-size: 20px;
  color: #555;
}

p {
  font-size: 16px;
  color: #777;
}

.imagen {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Estilos para la segunda sección con grid */
.col-span-3 {
  grid-column: span 3;
}



 .contenedor {
  display: flex;
  justify-content: flex-end; 
  height: 100;
  padding: 10px;
  padding-top: -410rem; 
}

.derecha {
  background-color: #e2e2e2; 
  padding: 20px; 
  width: 20em;
  border-radius: 35px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 

}

.derecha p {
  font-size: 15px;
  margin-bottom: 12px;
}

.derecha button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #3498db; 
  color: #fff; 
  cursor: pointer;
}


.encabezado{
  display: flex;
  justify-content: space-between;
}
.encabezado p {
  font-size: 20px;
  padding-top: -5px;
}

.encabezado button{
  font-size: 15px;
  color: #4bb32c;
  height: 38px;
  width: 100px;
  background-color: #4cb32c5e;
  border-radius: 15px;
  
}



.card {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.text {
  padding: 20px;
}

.text .h3 {
  font-size: 18px;
  color: #333;
}

.text .p {
  font-size: 14px;
  color: #777;
}




.icon-box {
  margin-top: 10px;
  width: 70%;
  padding: 1px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  }

.h3{
font-size: 20px;
color: black;
}

.text  {
  font-size: 15px;
  font-weight: 60;
  margin-left: 14px;
}

.text .p {
  color: #999999;
  font-size: 13px;
}


.text img{
  width: 50px;
  height: 50px;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
} 

/* {{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{ */
/* {{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{ */


.texto{
  background-color: #f57d1a;
  padding: 20px;
  margin-left: 4em;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 60%;
}

 
.texto h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.texto p {
  font-size: 16px;
  color: #666;
}
.imagen{

  width: 10em;
  height: 10em;
}

.texto button{
  color: white;
  background-color: #333;
  width: 10rem;
  margin: 1em;
  border-radius: 10px;
}
.texto button span{
  font-size: 25px;
  font-weight: 600;
  margin-left: 14px;
}







